{% extends "layout.html" %}
{% block content %}
    {% for data in new_addition %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ data.author }}</a>
            <small class="text-muted">{{ data.date_posted }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ data.title }}</a></h2>
          <p class="article-content">{{ data.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock %}